<div class="home-page">

    <div class="banner">
        <div class="container">
            <h1 class="logo-font">conduit</h1>

        </div>
    </div>

    <div class="container page">
        CONTAINER PAGE
    </div>
</div>